//Paleta de colores

$verde: #0B4144;
//$verde: #253a52;

$radial-inicial: #FFF; 
$radial-final: #D1DFE7;

$titulo-pagina: #4D4D4D;
$titulo-parrafo: #4D4D4D;
$titulo-parrafo2: #000;
$texto-parrafo: #666666;

$verde-adm: #45a48a;
//$verde-adm: #253a52;
$celeste: #badfe7;
$rojo: #c1272d;